<div class="login-container">
  <section class="hero-side">
    <a routerLink="/" class="logo">
      <img src="assets/logo.png" alt="Logo" class="logo-img">
      <span class="logo-text">ChapaTuChamba</span>
    </a>

    <div class="hero-content">
      <h1>Bienvenido de nuevo.</h1>
      <p>Tu próxima oportunidad te está esperando. Accede a tu cuenta para continuar tu crecimiento profesional.</p>
    </div>
  </section>

  <section class="form-side">
    <div class="form-wrapper">
      <h2>Iniciar Sesión</h2>
      <p class="subtitle">Ingresa tus credenciales para continuar.</p>

      @if (errorMessage()) {
        <div class="error-alert-box">{{ errorMessage() }}</div>
      }

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="email">Correo electrónico</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="tu@correo.com">

          @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
            <small class="field-error">Por favor, ingresa un correo electrónico válido.</small>
          }
        </div>

        <div class="input-group">
          <div class="label-row">
            <label for="contrasena">Contraseña</label>
            <a href="#" class="forgot-link">¿Olvidaste tu contraseña?</a>
          </div>
          <div class="input-group-password">
            <input
              [type]="hidePassword() ? 'password' : 'text'"
              id="contrasena"
              formControlName="password"
              placeholder="••••••••">

            <span
              class="material-symbols-outlined toggle-password"
              (click)="togglePasswordVisibility()">
              {{ hidePassword() ? 'visibility_off' : 'visibility' }}
            </span>
          </div>

          @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
            <small class="field-error">La contraseña debe contener un mínimo de 4 caracteres.</small>
          }
        </div>

        <button type="submit" class="btn-submit" [disabled]="loginForm.invalid">
          Ingresar &rarr;
        </button>
      </form>

      <div class="divider">
        <span>O continúa con</span>
      </div>

      <div class="social-auth">
        <button class="btn-social" type="button">
          <img src="https://cdn-icons-png.flaticon.com/128/300/300221.png" alt="Google"> Google
        </button>
        <button class="btn-social" type="button">
          <img src="https://cdn-icons-png.flaticon.com/128/145/145807.png" alt="LinkedIn"> LinkedIn
        </button>
      </div>

      <p class="register-link">
        ¿No tienes una cuenta?
        <a routerLink="/candidato/register">Regístrate aquí</a>
      </p>
    </div>
  </section>
</div>
